
:root{
    --primary-color: #064E3B;
    --secondary-color: #059669;    ;
    --off-white: #A7F3D0;

}

*{
    font-family: 'Crimson Pro', serif;
}

h1 {
    padding: 0rem 1rem 5rem 0rem;
}

body{
    
    margin: auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.verticalMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
    text-align: center;
}

.cell{
    background-color: var(--off-white);
    width: 70px;
    height: 70px;
    margin: 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color:var(--primary-color);
}
a{
    text-decoration: none;
    color: var(--primary-color);
}


.section{
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 2rem 1rem;
}

.inputBox{
    background-color: var(--off-white);
    border:2px solid var(--primary-color);
    padding: 1rem;
    margin: 1rem 1rem 1.5rem 0.2rem;
    height: 20px;
    width: 50px;
    overflow: scroll;

}
.inputBox::-webkit-scrollbar {
    width: 0px;
  }

.button{
    display: block;
    margin: 0 auto 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}


.backCTAContainer{
    margin: 2rem auto 0rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem 1rem;

    border-radius: 1.5rem;
    background-color: white;
}
.backCTAContainer a{
font-weight: bold;
color: var(--primary-color);
}
.backCTAContainer a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.outputHere{
    margin: auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    width: fit-content;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}
.label{
    font-weight: bold;
    display: inline-block;
}

/* triangle grahics in html and css */
.triangle div{
    height: 2px;
    background-color: var(--primary-color);
}
.triangle{
    position: relative;
    width: 104px;
    height: 104px;
    margin: 0 auto 20px;

}
.triangle label{
    position: absolute;
    font-size: 0.8rem;
}
    
.sideA{
    left: -15px;
    top: 45px;
}
.sideB{
    left: 45px;
    top:105px;
}
.sideC{
    left: 50px;
    top: 35px;
}
.heightH{
    left: 25px;
    top:75px;
}
.angleA{
    left: 75px;
    top:87px;
}
.triangle .line1{
    width: 100px;
    bottom: -102px;
    
}

.triangle .line2{
    width: 100px;
    transform: rotate(90deg);
    top: 50px;
    left: -50px;
}
.triangle .line3{
    width: 141.42px;
    transform: rotate(45deg);
    top: 50px;
    left: -20px;
}
.triangle .line4{
    width: 71px;
    transform: rotate(135deg);
    left:-12px;
    top: 72px
}
.triangle .line5{
    width: 8px;
    transform: rotate(135deg);
    left:50px;
    top: 55px;
}
.triangle .line6{
    width: 12px;
    transform: rotate(45deg);
    left:41px;
    top: 50px;
}
.line{
    position: relative;
    bottom: -100px;
}


.formulaSelectionForm{
    text-align: left;
}

.areaCalBlock{
display: none;
}

.formQuiz{
    text-align: left;
}
.formQuiz label.question{
    display: block;
}
.radio input{
cursor: pointer;
padding: 0.5rem 0.5rem;
display: inline-block;
}
.radio{
    padding: 0.5rem 1rem;
    white-space: normal;
}
.radio label{
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
}
.ow{
    background-color: var(--off-white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.error{
    display: none;
}



.list-item{
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

